<div class="absolute flex overflow-y-scroll flex-col w-[50%] h-[50%] p-10 bg-white top-[50%] left-[50%] translate-[-50%] rounded-xl shadow-2xl border-1 border-gray-100">

    <!--Dispo. Giorni-->
    <div class="flex-1 flex flex-col space-y-5">
        <p class="text-3xl">Seleziona le tue disponibilità</p>

        <form>
            
                <div class="relative flex overflow-x-scroll space-x-5">
                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="apple">
                        <span class="checkbox-label">3 dec</span>
                    </label>
                      
                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="banana">
                        <span class="checkbox-label">4 dec</span>
                    </label>
                
                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="orange">
                        <span class="checkbox-label">5 dec</span>
                    </label>
                
                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="checkbox-label">6 dec</span>
                    </label>

                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="checkbox-label">6 dec</span>
                    </label>

                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="checkbox-label">6 dec</span>
                    </label>

                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="checkbox-label">6 dec</span>
                    </label>

                    <label class="option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="checkbox-label">6 dec</span>
                    </label>
                </div>


                <p class="text-2xl mt-8 mb-5">Seleziona le fasce orarie</p>

                <!--fascia oraria-->
                <div class="relative flex overflow-x-scroll space-x-3">
                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="apple">
                        <span class="h-checkbox-label">12-14</span>
                    </label>
                      
                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="banana">
                        <span class="h-checkbox-label">12-14</span>
                    </label>
                
                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="orange">
                        <span class="h-checkbox-label">12-14</span>
                    </label>
                
                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="h-checkbox-label">12-14</span>
                    </label>

                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="h-checkbox-label">12-14</span>
                    </label>

                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="h-checkbox-label">12-14</span>
                    </label>

                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="h-checkbox-label">12-14</span>
                    </label>

                    <label class="h-option-box">
                        <input type="checkbox" name="fruits" value="grape">
                        <span class="h-checkbox-label">12-14</span>
                    </label>
                </div>
            
        </form>

    </div>

    <div class="flex justify-between mt-5">
        <button (click)="closeModal()" class="bg-red-500 rounded-lg text-white px-10 py-3">Annulla</button>
        <button class="bg-blue-500 rounded-lg text-white px-10 py-3">Avanti</button>

    </div>

</div>
