<header class="text-white">
    <div class="flex items-center justify-between px-1">
      <!-- Logo -->
      <div class="flex items-center">
        <img src="img/logo.png" alt="Logo" class="w-28 ml-2" />
      </div>
  
      <!-- Navigation Links -->
      <nav class="hidden md:flex space-x-3 items-center">
        @if(!authService.isUserLoggedIn()){ <!--if is not logged in-->
        <p (click)="activateAdminLogin()" class="text-black text-center underline text-gray-400 hover:text-gray-700 transition"> Sei un agenzia o ne fai parte? <br> Continua Qui </p>
        <a routerLink="/login" (click)="deactiveAdminLogin()" class="text-black px-5 h-min py-1.5 rounded-xl hover:text-white transition" style="background-color: #2EC4B6 ;">Login</a>
        <a routerLink="/register" class="text-white px-5 h-min py-1.5 rounded-xl hover:text-white transition" style="background-color: #FF9F1C;">Signup</a>
        }
        @else{
          <button class=" border-1 rounded-lg border-gray-300 px-5 py-1.5 text-black hover:bg-gray-100 hover:border-gray-100 transition">Annunci</button>
          <button (click)="toggleNotifiche()" class=" border-1 rounded-lg border-gray-300 px-5 py-1.5 text-black relative hover:bg-gray-100 hover:border-gray-100 transition">
            <span class="block absolute rounded-full right-0 top-0 translate-x-[30%] translate-y-[-30%]  bg-[#FF9F1C] w-3.5 h-3.5"></span>
            <span class="block absolute rounded-full right-0 top-0 translate-x-[30%] translate-y-[-30%]  bg-[#FF9F1C] w-3.5 h-3.5 animate-ping"></span>
            Notifiche
          </button>
          @if(isAgentProfile){
            <button class=" border-1 rounded-lg border-gray-300 px-5 py-1.5 text-black hover:bg-gray-100 hover:border-gray-100 transition">Calendario</button>
          }
          <button class=" border-1 border-gray-300 px-5 py-1.5 text-black">My Profile</button>

          <button (click)="authService.logout()" class=" border-1 border-gray-300 px-5 py-1.5 text-black">Logout</button>
          
        }
      </nav>
  
      <!-- Mobile Menu Icon -->
      <button class="md:hidden flex items-center text-gray-300 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>
  </header>

  @if(isNotificationPanelOpen){
    <app-notification-panel (close)="toggleNotifiche()" (openAppointmentSelect)="openAppointmentModal($event)" (openDenyAppointmentModal)="openDenyAppointmentModal()"></app-notification-panel> 
    @if(appModal){
      <app-select-appointment-modal (modalClosed)="closeAppointmentModal()" (appointmentSelected)="confirmAppointment($event)" [userAppointments]="visitRequest.availabilites"></app-select-appointment-modal>
    }
    @else if(denyAppModal){
      <app-deny-appointment-modal (onModalClose)="closeDenyAppointmentModal()"></app-deny-appointment-modal>
    }
  }

  


