<ng-image-slider class="w-full" [images]="imageObject" [slideImage]="1"
[imageSize]="{ width: '400px', height: '300px' }"
[lazyLoading]="false"></ng-image-slider>

<div class="w-full flex p-18">
    <div class="flex-1 flex flex-col">

        <!--Price and stand-out info-->
        <div class="flex justify-between pr-60">

            <button 
                (click)="toggleFavorite()"
                class=" p-5 rounded-full hover:bg-yellow-100 transition"
                [ngClass]="{ 'text-yellow-400': isFavorite, 'text-gray-400': !isFavorite }"
                aria-label="Aggiungi ai preferiti">
                <fa-icon [icon]="faStar" class="text-4xl"></fa-icon>
            </button>

            <!--Price and Address-->
            <div class="flex flex-col">
                <p class="text-5xl font-semibold">{{listing.price?? '500.000'}}$</p>
                <p class="text-gray-500 text-2xl ">{{listing.location.address?? 'C.so Amedeo di Savoia, Garnet Valley, PA 1909'}}</p>
            </div>

            <!--Beds,Baths,Sqft-->
            <div class="flex space-x-18">

                <div class="flex flex-col">
                    <p class="text-4xl font-semibold">{{listing.nRooms ?? 1}}</p>
                    <p class="text-gray-500 text-2xl">room</p>
                </div>
                <div class="flex flex-col">
                    <p class="text-4xl font-semibold">{{listing.nBathrooms ?? 1}}</p>
                    <p class="text-gray-500 text-2xl">bath</p>
                </div>
                <div class="flex flex-col">
                    <p class="text-4xl font-semibold">{{listing.squareMeters ?? 332}}</p>
                    <p class="text-gray-500 text-2xl">sqft</p>
                </div>

                <div class="flex flex-col">
                    <p class="text-4xl font-semibold">{{listing.floor ?? '2'}}</p>
                    <p class="text-gray-500 text-2xl">floor</p>
                </div>

            </div>
        
        </div>

        <!--Wrapper of important Apartment Features-->
        <div class="flex flex-col pr-60 pt-15">

        <!--Stand Out Features text-->
        <h3 class="text-3xl font-semibold">Stand Out Features</h3>

         <!--Important Apartment Features-->
         <div class="grid grid-cols-3 gap-4 pt-5">
            @if(listing.elevator){
                <div class="p-5 relative flex space-x-2 items-center">
                    <div class="absolute inset-0 bg-gray-500 opacity-10"></div>
                    <fa-icon class="text-xl" [icon]="faElevator" [style.color]="'orange'"></fa-icon>
                    <p>Elevator</p>
                </div>
            }
            @if(listing.energyClass){
                <div class="p-5 relative flex space-x-2 items-center">
                    <div class="absolute inset-0 bg-gray-500 opacity-10"></div>
                    <fa-icon class="text-xl" [icon]="faLightbulb" [style.color]="'orange'"></fa-icon>
                    <p>{{listing.energyClass}} Energy Class</p>
                </div>
            }

        </div>


        </div>

    </div>

    <!--image name reviews...-->
    <div class="flex flex-col w-100 border-1 border-gray-300 rounded-lg items-center p-5">

        <!--image and name-->
        <div class="flex flex-col items-center">
            <div class="w-24 h-24">
                <img 
                  src="img/logo.png" 
                  alt="Profile Picture" 
                  class="rounded-full object-cover w-full h-full border-1 border-gray-400"
                />
            </div>

            <h3 class="text-xl">{{listing.agent.firstName+' '+listing.agent.lastName }}</h3>
            <p class="text-gray-500">{{listing.agent.agency.ragioneSociale ?? 'Immobiliari S.p.a.'}}</p>
          

              <div class="relative flex flex-col items-center w-full m-4">
                <p class="text-lg font-semibold">{{listing.agent.numOfReviews}} Recension{{listing.agent.numOfReviews===1 ? 'e':'i'}}</p>
                
                <!-- Punteggio medio -->
                <star-rating [disabled]="true" [labelText]="listing?.agent?.averageReview ? listing.agent.averageReview.toFixed(2) : 'N/A'" [labelPosition]="'right'" [starType]="'svg'" [rating]="listing.agent.averageReview"></star-rating>
            
                <!-- Bottone per aprire il dropdown -->
                <button (click)="toggleReviewForm()"
                        class="mt-2 p-2 bg-gray-500 text-white rounded-md hover:bg-gray-600">
                    {{ showReviewForm ? 'Nascondi Recensione' : 'Lascia una Recensione' }}
                </button>
            
                <!-- Dropdown -->
                 @if(showReviewForm){
                    <div
                    class="absolute top-full mt-2 w-64 p-3 border border-gray-300 rounded-md shadow-lg bg-white z-50">
                   <p class="text-sm font-semibold text-gray-700">Dai una valutazione</p>
           
                   <!-- Rating -->
                   <star-rating [starType]="'svg'" [rating]="userRating" (ratingChange)="onRatingChange($event)"></star-rating>
           
                   <!-- Commento -->
                   <textarea [(ngModel)]="userComment"
                             placeholder="Scrivi il tuo commento..."
                             class="w-full p-2 border border-gray-300 rounded-md mt-2">
                   </textarea>
           
                   <button (click)="submitReview()"
                           class="w-full mt-2 p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                       Invia Recensione
                   </button>
               </div>
                 }
                
            </div>


        </div>

        <div class="flex-1 w-full flex flex-col gap-2 justify-end">
            <button class="w-full p-1 rounded-sm border-1 border-blue-450 text-blue-500 hover:bg-blue-500 hover:text-white transition">Contatta</button>
            <button (click)="openModal()" class="w-full p-3 rounded-sm border-1 bg-blue-500 text-white hover:bg-blue-600 transition">Richiedi Appuntamento</button>
        </div>

        


    </div>

</div>

<div class="flex flex-col px-18 space-y-8">
    <h3 class="text-2xl font-semibold">Altre Feature</h3>

    <div class="w-[50%] flex flex-wrap gap-3">
        @for(feature of listing.otherFeatures;track feature){
            <p class="py-1 px-2 text-xl bg-gray-200 font-semibold">{{feature}}</p>
        }@empty{
            <p>No feature</p>
        }
    </div>

</div>

<!--Description of the apartment-->
<div class="p-18">
    <h3 class="text-2xl font-semibold">Descrizione</h3>
    <p>
        {{listing.description}}
    </p>
    
</div>

@if(isModalOpen){

    @if(loading){

        <div class="absolute flex items-center pr-3 transform left-[50%] top-[50%] -translate-[50%]">
            <svg class="animate-spin h-40 w-40 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </div>

    }@else{
        <app-appointment-modal [listingId]="listing.id" [forecast]="forecasts" (close)="closeModal()"></app-appointment-modal>
    }


}
